setlist {
  background-color: black;
  width: 100%;
}

head {
  display: block;
  color: green;
  font-size: 2em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  margin: 1em;
}

song, title, artist, genre, year {
  display: block;
  color: white;
  text-align: center;
}

title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.5em;
}

year {
  margin-bottom: 1em;
}

artist, genre, year {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
